<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.WinForms" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1901.177" newVersion="1.0.1901.177" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.WebView2.Core" publicKeyToken="2a8ab48044d2601e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.1901.177" newVersion="1.0.1901.177" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.2" newVersion="7.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="usersDBConnectionString" connectionString="nqUdas2lJ6Y/R0yUAdrsWgSr3MIFRVMZelFjImMeiPtgXdr+Q6z2w5eO0PxFj60pMCrj+vvdOUzRBzZ99X7J+rKab6yAAp0gcWmhcdksSlgnkPLth2ju+GI77b21TRvaY7j5v31ePEQ48F2lH6Xff6aZ0Lf8xkR9FfUpJ+hXRycLLkyfSLoiHAMWihwQphNkFEA71n4LNkgJ74glBzU3nHWS9drPIEGg49eHdW4nUwvQwFC50qPFpCICRfDwrgjpfx+Ha8LL7ChUCCDxKY3QtA=="/>
    <add name="davie3DBConnectionString" connectionString="zPxmEHRfFgh4DdstxGgMq9K/8TzkJ+DdDIf1uNwonP+xUQKYNKecnpjw9jeSTwDVI/0NT94hCaE36bTgCg/cmjpqIpqgC+/UeA3bLcRoDKvSv/E85Cfg3Qbgt4X4IlXmse83Je3h2STtzlBedoC27p0JNIPMpmZIBP5my8nM8nL7TCy1yNslGPQ4X0KiefWl"/>
  </connectionStrings>
</configuration>